<strong>Olá, {{ name }}</strong>
<p>Obrigado por fazer parte da nossa equipe, confira os detalhes do seu plano abaixo: </p>
<p>
  Data de início informada: <strong>{{start}}</strong> Plano selecionado:
  <strong>{{plan_title}}</strong> ({{ duration }} meses depois do início)
  Data de término calculada: <strong>{{end}}</strong>
  Preço calculado:<strong> R$ {{value}}</strong> <br />
</p>